@using Common.Dto.Case.PreCharge;
@using RazorLight
@inherits TemplatePage<PcdRequestDto>

@{
    DisableEncoding = true;
}

<!DOCTYPE html>

<html>
<head>
    <title>
        PCD Request
    </title>
    <style>
        /* https://jsfiddle.net/pandelus/ofm2Lhyk/1/ */

        body {
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 15px;
        }

        div {
            margin-left: 20px;
        }

        table {
            width: 100%;
            border-spacing: 0px;
            padding-bottom: 20px;
        }

            table .suspect {
                margin-left: 20px;
            }

            table tr:first-child {
                width: 300px;
            }

            table tr:last-child {
                width: 500px;
            }

            table td {
                border-top: 1px solid #b1b4b6;
                padding: 7px;
            }

            table .suspect td {
                text-align: left
            }

            table tr:last-child td {
                border-bottom: 1px solid #b1b4b6;
            }
    </style>
</head>

<body style="width:800px">
    <h2>PCD Request</h2>
    <table id="pcd-request">
        <tr>
            <td>Decision required by</td>
            <td>@Model.DecisionRequiredBy</td>
        </tr>
        <tr>
            <td>Decision requested</td>
            <td>@Model.DecisionRequested</td>
        </tr>
    </table>

    <h2>Case Outline</h2>
    @for (var i = 0; i < Model.CaseOutline.Count; i++)
    {
        <h4>@Model.CaseOutline[i].Heading</h4>
        @Model.CaseOutline[i].TextWithCmsMarkup
    }

    <h2>Supervising Officer's Comments</h2>
    @Model.Comments.TextWithCmsMarkup

    <h2>Proposed Charges</h2>
    @for (var i = 0; i < @Model.Suspects.Count; i++)
    {
        <h3>@Model.Suspects[i].Surname, @Model.Suspects[i].FirstNames - DOB @Model.Suspects[i].Dob</h3>
        @for (var c = 0; c < @Model.Suspects[i].ProposedCharges.Count; c++)
        {
            <table>
                <tr>
                    <td>Category</td>
                    <td>@Model.Suspects[i].ProposedCharges[c].Category</td>
                </tr>
                <tr>
                    <td>Proposed Charge</td>
                    <td>@Model.Suspects[i].ProposedCharges[c].Charge</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>@Model.Suspects[i].ProposedCharges[c].Location</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>
                      @Model.Suspects[i].ProposedCharges[c].EarlyDate
                      @if (Model.Suspects[i].ProposedCharges[c].LateDate != null)
                      {
                        <span> - @Model.Suspects[i].ProposedCharges[c].LateDate</span>
                      }
                    </td>
                </tr>
            </table>
        }
    }

</body>
</html>