@using Common.Dto.Case;
@using RazorLight
@inherits TemplatePage<DefendantsAndChargesListDto>

<!DOCTYPE html>

<html>
<head>
    <title>
        Defendants and Charges
    </title>
    <style>
        body {
            font-family: "TransportNew", "Arial", sans-serif
        }

        h4 {
            margin-bottom: 3px;
        }

        div {
            margin-top: 0px;
            margin-bottom: 3px;
            padding: 0px;
        }

        table {
            width: 100%;
            border-spacing: 0px;
            padding-bottom: 20px;
            padding-top: 1em;
        }

            table tr:first-child {
                width: 300px;
            }

            table tr:last-child {
                width: 500px;
            }

            table td {
                font-size: 12px;
                border-top: 1px solid #b1b4b6;
                padding-top: 7px;
                padding-bottom: 7px;
                text-align: left
            }

            table tr:last-child td {
                border-bottom: 1px solid #b1b4b6;
            }

        th {
            text-align: left;
            padding-top: 7px;
            padding-bottom: 7px;
        }
    </style>
</head>

<body style="width:800px">
    <h2>Defendants and Charges</h2>
    @foreach(var defendant in Model.DefendantsAndCharges)
    {
        <h4>@defendant.DefendantDetails.Surname, @defendant.DefendantDetails.FirstNames</h4>
        <div>DOB: @defendant.DefendantDetails.Dob</div>
        <div>Age: @defendant.DefendantDetails.Age</div>

        <table>
            <tr>
                <th>Charges</th>
                <th>Custody time limit</th>
                <th>Custody end</th>
                <th>Status</th>
            </tr>
            @foreach(var charge in defendant.Charges)
            {
                <tr>
                    <td>@charge.LongDescription</td>
                    <td>@(charge.CustodyTimeLimit?.ExpiryDays != null ? (charge.CustodyTimeLimit.ExpiryDays + " days") : string.Empty)</td>
                    <td>@(charge.CustodyTimeLimit?.ExpiryDate != null ? charge.CustodyTimeLimit.ExpiryDate : string.Empty)</td>
                    <td>@(charge.IsCharged ? "Charged" : "Not Charged")</td>
                </tr>
            }
        </table>
    }
</body>

</html>