<!DOCTYPE html>

<html>
<head>
    <title>
        PCD Request
    </title>
</head>

<body>
    <h4>PCD Request</h4>
    <div>
        <table>
            <tr>
                <td>Decision required by</td>
                <td>@Model.DecisionRequiredBy</td>
            </tr>
            <tr>
                <td>Decision requested</td>
                <td>@Model.DecisionRequested</td>
            </tr>
        </table>
    </div>

    @for (var i = 0; i < @Model.Suspects.Count; i++)
    {
        <h2>@Model.Suspects[i].Surname, @Model.Suspects[i].FirstNames - DOB @Model.Suspects[i].Dob</h2>

        for (var c = 0; c < @Model.Suspects[i].ProposedCharges.Count; c++)
        {
            <div>
                <table>
                    <tr>
                        <td>Description</td>
                        <td>@Model.Suspects[i].ProposedCharges[c].Category</td>
                    </tr>
                    <tr>
                        <td>Proposed Charge</td>
                        <td>@Model.Suspects[i].ProposedCharges[c].Charge</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>@Model.Suspects[i].ProposedCharges[c].Location</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>@Model.Suspects[i].ProposedCharges[c].Date</td>
                    </tr>
                </table>
            </div>
        }
    }

</body>
</html>